# Ignorar carpetas y archivos generados por Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.log
*.tmp
*.db
*.sqlite
*.pdb
*.cache
*.userosscache
*.sln.docstates
SistemaGestionJudicial/Properties/launchSettings.json

